<template>
  <v-container>
    <v-layout
      text-xs-center
      wrap
    >
    
    <v-form v-model="valid">
    <v-container>
      <v-layout>
        <v-flex
          xs12
          md5
        >
          <v-text-field
            v-model="cedula"
            :counter="10"
            label="Cédula"
            required
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md6
        >
          <v-text-field
            v-model="nombre_completo"
            label="Nombre completo"
            required
            disabled
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md6
        >
          <v-text-field
            v-model="direccion"
            label="Dirección"
            required
            disabled
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md5
        >
          <v-text-field
            v-model="telefono"
            label="Teléfono"
            required
            disabled
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md3
        >
          <v-btn :disabled="cedula == ''"
            color="success"
            @click="getUser()"
          >
            Buscar
          </v-btn>
        </v-flex>

      </v-layout>
    </v-container>
  </v-form>

    <v-flex xs12 sm12>
      <span text-left sm12>
      Mi Carrito
      <v-badge left>
        <v-icon
          small
          color="darkgray lighten-1"
        >
            shopping_cart
          </v-icon>
        </v-badge>
      </span>


    <v-container>
      <v-layout>
    

        <v-flex
          xs12
          sm2
          offset-sm8
          >

          <v-text-field
            v-model="totalPrice"
            label="$"
            required
            disabled
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          sm2
        >
          <v-btn :disabled="cedula == ''"
            color="primary"
            @click="saveData()"
          >
            Guardar Compra
          </v-btn>
        </v-flex>



      </v-layout>
    </v-container>

      <v-list two-line v-if="car != ''">
            <v-list-tile v-for="(item, index) in car" avatar ripple>

              <v-list-tile-content>
                <v-list-tile-title>{{ item.Nombre }}</v-list-tile-title>
                <v-list-tile-sub-title class="text--primary">{{ item.Descripcion }}</v-list-tile-sub-title>
                <v-list-tile-sub-title></v-list-tile-sub-title>
              </v-list-tile-content>

              <v-list-tile-action>
                <v-list-tile-action-text pointer><v-btn flat color="blue" v-on:click="deleteItem(item.idCompra, item.Precio)">Quitar &times;</v-btn></v-list-tile-action-text>
                <v-icon color="grey lighten-1">star_border</v-icon>
              </v-list-tile-action>

            </v-list-tile>
            <v-divider v-if="index + 1 < car.length" :key="`divider-${index}`"></v-divider>
        </v-list>
    </v-flex>

    <v-flex xs12 sm6 v-for="(x, index) in products">
        <v-card style="padding:5px">
          <v-img
            :src="x.ImagenUrl"
            aspect-ratio="1.25"
          ></v-img>

          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">{{ x.Nombre }}</h3>
            </div>
          </v-card-title>

          <v-expansion-panel>
            <v-expansion-panel-content>
              <template v-slot:header>
                <div>Ver mas...</div>
              </template>
              <v-card>
                <v-card-text><strong>Descripción:</strong> {{ x.Descripcion }}<br><strong>Precio:</strong> {{ x.Precio }}<br><strong>Cantidad:</strong> {{ x.cantidadExistencia }}</v-card-text>
                <v-card-actions>
                    <v-btn flat color="blue" v-on:click="addCar(x.IdProducto, x.Nombre, x.Precio, x.Descripcion)">Añadir al carrito
                    <v-badge left>&nbsp;
                      <v-icon
                        small
                        color="blue lighten-1"
                      >
                        shopping_cart
                      </v-icon>
                    </v-badge>
                    </v-btn>
                  </v-card-actions> 
              </v-card>
            </v-expansion-panel-content>
          </v-expansion-panel>
          
        </v-card>
      </v-flex>

      <v-snackbar
        v-model="snackbar"
        :color="color"
        :multi-line="mode === 'multi-line'"
        :timeout="timeout"
        :vertical="mode === 'vertical'"
      >
        {{ labelCompra }}
        <v-btn
          light
          flat
          @click="snackbar = false"
        >
          Cerrar
        </v-btn>
      </v-snackbar>

    </v-layout>
  </v-container>
</template>

<script>
import axios from "axios";

  export default {
    data: () => ({
      products: [],
      car: [],
      count: 0,
      totalPrice: 0,
      id_user: '',
      direccion: '',
      nombre_completo: '',
      telefono: '',
      cedula: '',
      snackbar: false,
      labelCompra: ''
    }),
    mounted: function () {
      axios({ method: "GET", "url": "http://localhost:8080/products" }).then(result => {
        this.products = result.data
      }, error => {
        console.error(error)
      });
    },
    methods: {
      saveData(IdCliente) {
        console.log(this.count)
        var date = new Date();
        var fecha = date.getFullYear()+'-'+(date.getMonth()+1)+'-'+date.getDate();
        var compra_ID = Math.floor(Math.random() * 99999999)+'-'+Math.floor(Math.random() * 99999999)
        var body = {
          'IdCliente': this.id_user,
          'Fecha': fecha,
          'CompraId': compra_ID,
          'TotalCompra': this.totalPrice,
          'Count': this.count
        }
        axios({ method: "POST", "url": "http://localhost:8080/save", "data": body, "headers": { "content-type": "application/json" } }).then(result => {
            this.response = result.data;
            console.log("RESULTADO ",result);
            this.labelCompra = "Compra Existosa"
            this.snackbar = true
            setTimeout(()=>{ location.reload() },2000)
          }, error => {
            console.error(error);
            this.labelCompra = "Ha ocurrido un error"
            this.snackbar = true
            setTimeout(()=>{ location.reload() },2000)
          });
      },
      addCar(IdProducto, Nombre, Precio, Descripcion) {
        var r = Math.floor(Math.random() * 99999999)
        console.log(IdProducto, Nombre, Precio)
        this.car.push({
          'IdProducto': IdProducto, 
          'Nombre': Nombre,
          'Precio': Precio,
          'Descripcion': Descripcion,
          'idCompra': r
        })
        this.totalPrice += Precio
        this.count += this.count
      },
      getUser() {
        let cc = this.cedula
        let url = "http://localhost:8080/user/"+cc
        axios({ method: "GET", "url": url }).then(result => {
          this.id_user          = result.data[0].IdCliente
          this.nombre_completo  = result.data[0].PrimerNombre+' '+result.data[0].SegundoNombre+' '+result.data[0].PrimerApellido+' '+result.data[0].SegundoApellido
          this.direccion        = result.data[0].Direccion
          this.telefono         = result.data[0].Telefono
        }, error => {
          console.error(error)
        });
      },
      deleteItem(idCompra, Precio) {
        let filtrado = this.car.filter((item) => item.idCompra != idCompra)
        this.car = filtrado;
        this.totalPrice -= Precio
        this.count -= 1
      }
    
  }
}
</script>

<style>

</style>
