<template>
  <v-app>
    <v-toolbar app dark>
      <v-toolbar-title class="headline text-uppercase">
        <span>Carrito</span>
        <span class="font-weight-light"> de Compras</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
      >
        <span class="mr-2">Prueba Técnica</span>
      </v-btn>
    </v-toolbar>

    <v-content>
      <Carrito/>
    </v-content>
  </v-app>
</template>

<script>
import Carrito from './components/Carrito'

export default {
  name: 'App',
  components: {
    Carrito
  },
  data () {
    return {
      //
    }
  }
}
</script>
